.title {
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;

  &-500 {
    font-weight: 500;
    font-size: 21px;
  }

  &-600 {
    font-weight: 600;
    font-size: 25px;
  }
}

.sub-title {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}