.input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  transition: border-color .3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 0 20px;
  width: 100%;
  z-index: 1000;
}

.textarea {
  overflow: hidden;
  height: 16px;
  resize: none;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navigateSpan {
  text-decoration: underline;
  cursor: pointer;
}

.templateAnimation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 350px;
  height: 350px;
  z-index: -1;

  @media(max-width: 1200px) {
    top: auto;

    left: -80px;
    width: 250px;
    height: 250px;
  }

  @media(max-width: 900px) {
    display: none;
  }


}