.auth {
  display: grid;
  place-items: center;
  height: 100vh;

  &-wrapper {
    width: 400px;
    margin-left: auto;

    @media(max-width: 575px) {
      width: 250px;
      margin-left: 0;
      width: auto;
    }
  }

  &-block {
    display: flex;
    gap: 100px;
    align-items: center;
    width: auto;

    @media(max-width: 575px) {
      gap: 0;
    }
  }
}

.todoImg {
  @media(max-width: 797px) {
    display: none;
  }

  img {
    transform: rotateY(180deg);
  }
}

.inputLabel {
  text-align: left;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 8px 8px 4px 8px;

  transition: border .3s ease;

  &-active {
    transition: border .3s ease;
    border: 1px solid #000;
  }
}

.form-auth {
  gap: 25px;
  display: grid;
  justify-content: center;
  grid-template: repeat(2, 60px) 48px / minmax(250px, 400px);

  @media(max-width: 797px) {
    gap: 30px;
  }
}

.bottomTexts {
  margin-top: 13px;
}

.btn-form {
  width: 100%;
  background-color: #db4c3f !important;
  text-align: center;
  padding: 0 16px;
  border-radius: 8px;
  transition: background-color .3s ease-in-out;

  &:hover {
    transition: background-color .3s ease-in-out;
    background-color: #C53C27 !important;
  }
}

.errorText {
  color: #C53C27;
  margin-top: 12px;
}

.signInUpBtnSpan {
  color: #fff;
  font-size: 18px;
}

.textSignUpIn {
  margin-top: 15px;
  border-top: 1px solid #eee;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}

.authText {
  text-align: center;
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: 400;
}

.label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}