.header {
  min-height: 50px;
  position: sticky;
  top: 0;
  margin-top: 20px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;



  @media(max-width: 797px) {
    .title {
      font-size: 18px;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.logOut {
  width: 30px;
  height: 40px;
}