.addTask {
  min-height: 120px;
  padding: 5px 0 0 0;
  border-top: 1px solid rgba(240, 240, 240, 0.0);

  &-active {
    border-color: rgba(240, 240, 240, 1);
    width: 100%;
    transition: border-color .3s ease-in, width .4s ease-in-out;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;


    .icon {
      width: 17px;
      height: 17px;
      display: grid;
      place-items: center;
      color: #dd4b39;
    }

    &:hover {

      .sub-title {

        color: #dd4b39;
      }

      .icon {
        background: #dd4b39;
        border-radius: 100%;
        color: #fff;
      }
    }
  }
}