.btn {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #838080;

  &:hover {
    transition: background .4s ease, color .5 ease;
    background: #EEE;
    color: #2C2C2C;
  }

  &-headToday {
    padding: 2px;
    padding-right: 5px;
  }

  &-cancel,
  &-addTask {
    min-width: 68px;
    min-height: 32px;
    padding: 0 12px;
    background-color: #f5f5f5;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &-addTask {
    background-color: #db4c3f;
    opacity: 1;

    color: #fff;

    &:hover {
      background-color: #b03d32;
    }
  }
}

.prevent {
  opacity: .5;
  cursor: not-allowed;

  &:hover {
    opacity: .5;
    background-color: #db4c3f;
  }
}