.btn {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #838080;

  &:hover {
    transition: background .4s ease, color .5 ease;
    background: #EEE;
    color: #2C2C2C;
  }

  &-headToday {
    padding: 2px;
    padding-right: 5px;
  }
}